body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

    {{- if .dark_mode }}
    background-color: #181818;
    color: #fff;
    {{- else }}
    background-color: #fff;
    color: #000;
    {{- end }}
}
